body{
    font-family: "Roboto", serif;
    background-color: #F7DCB9;
   
}

#region{
    height: 30px;
    width: 300px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 20px;
    font-family: "Roboto", serif;
    font-size: 18px;
}

button{
    width:200px;
    height:35px;
    font-family: "Roboto", serif;
    background-color:#914F1E;
    font-size: 15px;
    border: 0;
    border-radius: 10px;
    color: white;
    margin-bottom: 20px;
}

#container{
    width: 60%;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #F7DCB9;

}

#recommendation_div{
width: 60%;
justify-content: center;
align-items: center;
margin: auto;
display: none;
background-color: white;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);;
padding: 20px;
font-size: 18px;
}

#closebtn{
    width: 30px; 
    font-size: 30px; 
    height: 40px;
    background-color: white;
    color: #914F1E;
    font-weight: 900;
}
#button{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
h3{
    margin-top: 5px;
}

@media (max-width:768px) {

    #Container{
    width: 100%;
}
    button{
        width: 80%;
        font-size: 15px;
        height: 40px;
    }
    #region{
        width: 80%;
        font-size: 12px;
    }
    #recommendation_div{
        font-size: 15px;
    }
}