body{
    font-family: "Roboto", serif;
    background-color: #F7DCB9;
   
}

#region{
    height: 30px;
    width: 300px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 20px;
    font-family: "Roboto", serif;
}

button{
    width:200px;
    height:35px;
    font-family: "Roboto", serif;
    background-color:#914F1E;
    font-size: 15px;
    border: 0;
    border-radius: 10px;
    color: white;
}

#container{
    width: 60%;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #F7DCB9;

}